@font-face {
  font-family: Rheiborn_Sans_Clean;
  src: url(../fonts/Rheiborn_Sans_Clean.ttf);
}
$active-color: #24d6d6;

body, html {
    height: 100%;
    margin: 0;
    background-color: #000;
    color: white;
    text-transform: uppercase;
    font-size: 2.75rem;
    font-family: Rheiborn_Sans_Clean;
  }
.block {
  position: relative;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  &-caption {
    position: relative;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
    span {
      background-color: #fff;
      padding: 30px 50px;
      width: 30px;
      position: absolute;
      left: 50%;
      top:  5%;
    }
  }
}
.menu {
  width: 100%;
  .sidebar {
    width: 100%;
    z-index: 1;    
    background-color: #000;
    background-image: url(../images/smoke-background.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right center;  
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    -moz-transition: all 300ms ease;
    transition: visibility 0s, opacity 0.5s linear;
    &-list {
      left: 15%;
      position: relative;
      ul { 
        list-style: none;
        cursor: pointer;
      }
      li:hover {
        color: $active-color;
      }
    }
  }
  input[type=checkbox] {
    display: none; 
  }
  input:checked ~ .sidebar {
    opacity: 1;  
  }
  input:checked ~ label.toggle {
    display: none; 
  }
  input:checked ~ label.back {
    display: block; 
  }
  .toggle {
    display: block;
    font-size: 1rem;
  }
  .back {
    display: none;
    color: $active-color;
    font-size: 0.5rem;
  }
  label {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 20%;
    top: 5%;
  }
}


 