@font-face {
  font-family: Rheiborn_Sans_Clean;
  src: url(../fonts/Rheiborn_Sans_Clean.ttf); }
@font-face {
  font-family: Aleo;
  src: url(../fonts/Aleo-Regular.otf); }
body, html {
  height: 100%;
  margin: 0;
  background-color: #000;
  color: white;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: Rheiborn_Sans_Clean; }

.arrow-left {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #24d6d6;
  margin-right: 10px; }

.arrow-right {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #24d6d6;
  margin-left: 10px; }

.block {
  position: relative;
  background-position: center;
  background-image: url(../images/smoke-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%; }
  .block-content {
    position: relative;
    left: 0;
    top: 10%;
    width: 100%;
    display: inline-flex;
    text-align: center; }
    .block-content-text {
      margin-top: 20%;
      position: relative;
      right: -23%;
      font-size: 3rem;
      width: 32%;
      top: 10%;
      text-align: left;
      z-index: 1; }
    .block-content-image {
      margin-top: 10%;
      position: relative;
      left: 10%;
      width: 50%; }
      .block-content-image .img-larger {
        width: 80%;
        position: relative;
        bottom: -15%;
        left: -9%;
        height: 80%; }
      .block-content-image .img-medium {
        width: 50%;
        top: 75%;
        left: 30%;
        position: absolute;
        height: 45%;
        z-index: 1; }
      .block-content-image .img-smaller {
        width: 40%;
        top: 45%;
        left: 70%;
        position: absolute;
        height: 40%; }
    .block-content-action {
      cursor: pointer;
      position: absolute;
      bottom: 12%;
      left: 25%;
      line-height: 15px;
      display: inline-flex;
      color: #24d6d6;
      font-size: 0.35rem;
      padding: 10px;
      background-position: center right;
      font-family: Aleo;
      letter-spacing: 5px;
      font-weight: 600; }
      .block-content-action .arrow-right, .block-content-action span {
        z-index: 1; }
      .block-content-action .text-background {
        background-color: black;
        padding: 28px 48px;
        position: absolute;
        left: 62%;
        top: -25%; }
    .block-content .logo {
      background-color: #fff;
      padding: 30px 50px;
      width: 30px;
      position: fixed;
      left: 45%;
      top: 5%;
      z-index: 3; }

.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2; }
  .menu-sidebar {
    height: 100%;
    width: 100%;
    z-index: 98;
    background-color: #000;
    background-image: url(../images/smoke-background.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center right;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    -moz-transition: all 300ms ease;
    transition: visibility 0s, opacity 0.5s linear; }
    .menu-sidebar-list {
      top: 10%;
      left: 15%;
      position: relative; }
      .menu-sidebar-list ul {
        list-style: none;
        cursor: pointer; }
      .menu-sidebar-list li:hover {
        color: #24d6d6; }
  .menu img {
    position: absolute;
    left: 55%;
    top: 20%; }
  .menu input[type=checkbox] {
    display: none; }
  .menu input:checked ~ .menu-sidebar {
    opacity: 1; }
  .menu input:checked ~ label.toggle {
    display: none; }
  .menu input:checked ~ label.back {
    display: inline-flex; }
  .menu .toggle {
    display: block;
    font-size: 1rem; }
  .menu .back {
    display: none;
    color: #24d6d6;
    font-size: 0.5rem;
    line-height: 16px; }
  .menu label {
    z-index: 99;
    position: absolute;
    top: 0;
    right: 20%;
    top: 5%; }

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #000; }
  .carousel .slides {
    width: 500%; }
    .carousel .slides .img {
      display: inline-block; }
    .carousel .slides img:not(:first-child) {
      float: left; }
  .carousel .navigation {
    position: relative;
    bottom: 220px; }
    .carousel .navigation .dot {
      display: inline-block;
      border-radius: 100%;
      height: 10px;
      width: 10px;
      margin: 0;
      background-color: #fff; }

@-webkit-keyframes carousel {
  0%, 23% {
    margin-left: 0; }
  25%, 48% {
    margin-left: -100%; }
  50%, 73% {
    margin-left: -200%; }
  75%, 98% {
    margin-left: -300%; }
  100% {
    margin-left: 0; } }
@-moz-keyframes carousel {
  0%, 23% {
    margin-left: 0; }
  25%, 48% {
    margin-left: -100%; }
  50%, 73% {
    margin-left: -200%; }
  75%, 98% {
    margin-left: -300%; }
  100% {
    margin-left: 0; } }
@-ms-keyframes carousel {
  0%, 23% {
    margin-left: 0; }
  25%, 48% {
    margin-left: -100%; }
  50%, 73% {
    margin-left: -200%; }
  75%, 98% {
    margin-left: -300%; }
  100% {
    margin-left: 0; } }
@keyframes carousel {
  0%, 23% {
    margin-left: 0; }
  25%, 48% {
    margin-left: -100%; }
  50%, 73% {
    margin-left: -200%; }
  75%, 98% {
    margin-left: -300%; }
  100% {
    margin-left: 0; } }

/*# sourceMappingURL=main.css.map */
