@font-face {
  font-family: Rheiborn_Sans_Clean;
  src: url("../fonts/Rheiborn_Sans_Clean.ttf");
}
@font-face {
  font-family: Aleo;
  src: url("../fonts/Aleo-Regular.otf");
}

$active-color: #24d6d6;
$smoke-background: url("../images/smoke-background.png");
$break-extra-large: 1700px;
$break-large: 1500px;
$break-big: 1000px;


* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  background-color: #000;
  color: white;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: Rheiborn_Sans_Clean;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid $active-color;
  margin-right: 10px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid $active-color;
  margin-left: 10px;
}
.no-background {
  background-image: none !important;
}
.block {
  position: relative;
  background-position: center;
  background-image: $smoke-background;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;

  &-content {
    position: relative;
    left: 0;
    top: 10%;
    width: 100%;
    display: inline-flex;
    text-align: center;

    &-text {
      margin-top: 20%;
      position: relative;
      right: -23%;
      font-size: 2rem;
      width: 30%;
      top: 10%;
      text-align: left;
      z-index: 1;

    }

    &-image {
      margin-top: 10%;
      position: relative;
      left: 10%;
      width: 50%;

      .img-full {
        width: 100%;
        position: relative;
      }

      .img-larger {
        width: 70%;
        position: relative;
        bottom: -15%;
        left: -16%;
        height: 100%;
      }

      .img-medium {
        width: 45%;
        top: 75%;
        left: 30%;
        position: absolute;
        height: 65%;
        z-index: 1;
      }

      .img-smaller {
        width: 40%;
        top: 45%;
        left: 61%;
        position: absolute;
        height: 45%;
      }
    }

    .action-2 {
      bottom: -12%;
    }

    &-action {
      cursor: pointer;
      display: inline-flex;
      font-size: 0.35rem;
      font-family: Aleo;
      color: #24d6d6;
      letter-spacing: 5px;
      position: absolute;
      bottom: 12%;
      left: 25%;
      line-height: 15px;
      padding: 10px;
      background-position: center right;
      font-weight: 600;
      @media only screen and (max-width: $break-big) {
        bottom: 20%;
      }

      .arrow-right, span {
        z-index: 1;
      }

      .text-background {
        background-color: black;
        padding: 28px 45px;
        position: absolute;
        left: 65%;
        top: -25%;
      }
    }

    .logo {
      background-color: #fff;
      padding: 30px 50px;
      position: fixed;
      left: 45%;
      top: 5%;
      z-index: 3;
    }

    .footer {
      margin-top: 10%;
      width: 100%;
      text-align: left;
      height: 100%;

      &-action {
        cursor: pointer;
        display: inline-flex;
        font-size: 0.35rem;
        font-family: Aleo;
        color: #24d6d6;
        letter-spacing: 5px;
        position: absolute;
        bottom: 45%;
        left: 70%;
        line-height: 15px;
        padding: 10px;
        background-position: center right;
        background-position-x: right;
        background-position-y: center;
        font-weight: 600;

        .text, .arrow-right {
          z-index: 1;
        }

        .text-background {
          background-color: black;
          padding: 28px 60px;
          position: absolute;
          left: 65%;
          top: -25%;
        }
      }

      &-toolbar {
        background-position: bottom;
        background-image: $smoke-background;
        background-repeat: no-repeat;
        padding: 1% 0 4%;
        width: 50%;
        font-size: 1rem;
        position: relative;
        left: 25%;
        margin-bottom: 10px;
        @media screen and (max-width: $break-extra-large) {
          width: 70%;
          left: 15%;
        }

        &-title {
          width: 30%;
          margin: 3%;
        }

        &-columns {
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          padding: 0 5% 8% 0;
          margin-bottom: 50px;

          .column {
            border-right: 1px solid rgba(255, 255, 255, 0.5);
          }
        }

        .logo {
          background-color: #fff;
          padding: 30px 70px;
          width: 30px;
          left: 0;
          position: relative;
        }
      }

      .column {
        font-size: 0.7rem;
        float: left;
        width: 33.33%;
        padding: 0 4%;

        &-text {
          font-size: 0.25rem;
          font-family: Aleo;
          color: #fff;
          text-transform: none;
          letter-spacing: 1px;
          font-weight: lighter;

          span {
            margin: 0 1px;
            padding-top: 10px;
          }
        }

        &-action {
          cursor: pointer;
          display: inline-flex;
          font-size: 0.25rem;
          font-family: Aleo;
          color: #24d6d6;
          letter-spacing: 5px;
        }
      }

      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      .icons {
        display: flex;

        .icon {
          width: 20%;
          padding: 4px 10px;
          margin: 8px 5%;
          box-sizing: border-box;
          border: 2px solid #fff;
          text-transform: lowercase;

          img {
            width: 100%;
          }
        }

        .icon-white {
          background-color: #fff;
        }

        .icon-black {
          color: $active-color;
          background-color: transparent;
        }
      }

      form {
        display: flex;
        color: #fff;
      }

      input[type=email] {
        width: 75%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        background-color: transparent;
        border: 2px solid #fff;
        font-style: italic;
      }

      button {
        width: 25%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        background-color: transparent;
        border: 2px solid #fff;

        .arrow-right {
          border-left: 8px solid #fff;
          margin-left: 5px;
        }
      }
    }
  }
}

.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;

  &-sidebar {
    height: 100%;
    width: 100%;
    z-index: 98;
    background-color: #000;
    background-image: $smoke-background;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center right;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    -moz-transition: all 300ms ease;
    transition: visibility 0s, opacity 0.5s linear;
    @media screen and (min-width: $break-big) {
      font-size: 2rem;
    }

    &-list {
      top: 10%;
      left: 15%;
      position: relative;

      ul {
        list-style: none;
        cursor: pointer;
      }

      li:hover {
        color: $active-color;
      }
    }
  }

  .helper {
    background: #fff;
    position: absolute;
    display: inline-block;
    z-index: 99;
  }

  img {
    position: absolute;
    left: 55%;
    top: 20%;
    @media screen and (min-width: $break-big) {
      top: 25%;
      width: 40%;
    }
  }

  input[type=checkbox] {
    display: none;
  }

  input:checked ~ .menu-sidebar {
    opacity: 1;
  }

  input:checked ~ label.toggle {
    display: none;
  }
  input:checked ~ label.back {
    display: inline-flex;
  }

  .toggle {
    display: block;
    font-size: 1rem;
  }

  .back {
    display: none;
    color: $active-color;
    font-size: 0.5rem;
    line-height: 16px;
  }

  label {
    z-index: 99;
    position: absolute;
    top: 0;
    right: 20%;
    top: 5%;
  }
}

.inline {
  display: inline !important;
}

%animation-default {
  opacity: 1 !important;
  z-index: 3;
}
@mixin carousel($items, $animation: 'default') {
  .carousel {
    width: 100%;
    position: relative;
    overflow: hidden;

    > input[type="radio"] {
      position: absolute;
      left: 0;
      opacity: 0;
      top: 0;

      &:checked {
        ~ .carousel__items .carousel__item {
          opacity: 0;
        }
      }
      @for $i from 1 through $items {
        &:nth-child(#{$i}) {
          &:checked {
            ~ .carousel__items .carousel__item {
              @if $animation == 'default' {
                &:nth-child(#{$i}) {
                  opacity: 1;
                }
              }
            }

            ~ .carousel__nav {
              > label {
                &:nth-child(#{$i}) {
                  background: #fff;
                  cursor: default;
                  pointer-events: none;
                }
              }
            }
          }
        }
      }
    }

    &__items {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      height: 1000px;
      position: relative;
    }

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: opacity 2s;
      -webkit-transition: opacity 2s;

      img {
        width: 100%;
        vertical-align: middle;
      }
    }

    &__nav {
      position: absolute;
      bottom: 40%;
      left: 0;
      text-align: center;
      width: 100%;
      z-index: 3;
      @media screen and (min-width: $break-extra-large) {
        bottom: 10%;
      }
      @media screen and (min-width: $break-large) {
        bottom: 20%;
      }

      > label {
        display: inline-block;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
        margin: 0 0.125%;
        width: 20px;
        height: 20px;
      }
    }
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background: #fcfcfc;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
}
@include carousel(5);
